node_modules/
public/uploads/*
!public/uploads/.gitkeep
!public/uploads/degoverned-*.png
!public/uploads/cofund-*.png
!public/uploads/o-da-*.png
!public/uploads/bossclub-*.jpg
!public/uploads/iammodel-*.png
!public/uploads/shootme-*.png
!public/uploads/sarhub-*.png
!public/uploads/popvault-*.png
!public/uploads/jsclub-*.jpg
!public/uploads/jetspace-*.png
!public/uploads/socialsomm-*.png
!public/uploads/sarville*.png
!public/uploads/sarville-android-*.jpg
!public/uploads/zapime-*.webp
.env
tmp/
